button.primary {
    background: $purple;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    color: $white;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    transition: all .3s;
    opacity: 1;
    cursor: pointer;

    &:hover, &:focus { opacity: .8 }
}

button.secondary {
    &, &__white {
        background: $blue;
        color: $white;
        outline: none;
        border: none;
        cursor: pointer;
        width: 100%;
        border-radius: 11px;
        padding: 11px;
        text-align: center;
        font-weight: 700;
        font-size: 1rem;
        margin: 5px;
    }

    &__white {
        background: $white;
        color: #000;
    }
}
