* {
    font-family: 'Montserrat';
    color: $white;
}

body {
    background-color: #0d0936;
    background-clip: content-box;
    background-image: url(../images/background.svg);
    background-repeat: repeat;
}
